@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  margin: 10px;
  font-family: "Oswald", sans-serif;
  background-color: rgb(133, 101, 72);
}

.board {
  border: 5px solid #000000;
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(176, 194, 218);
}

.board > div {
  border: 1px solid #000000;
  width: 6.2vh;
  height: 6.2vh;
  float: left;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.board > div:nth-child(15n + 1) {
  clear: both;
}

.board > div::after {
  display: block;
  text-align: center;
}

.players {
  position: absolute; 
  top: 95.2vh;
  left: 41vh;
}

.stand {
  background-color: rgb(127, 46, 46);
  border-radius: 3px;
  padding: 0.5vh;
  width: 53vh;
}

.stand::after {
  content: "";
  display: table;
  clear: both;
}

.stand .tile {
  cursor: pointer;
}

.tile {
  z-index: 1;
  position: relative;
  text-align: center;
  width: 5.6vh;
  height: 5.6vh;
  float: left;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 2px;
  font-size: 3.5vh;
}

.board .tile {
  position: absolute;
  margin: 1px;
}

.tilePlacedThisRound {
  cursor: pointer;
}

.tile span {
  position: absolute;
  font-size: 1.5vh;
  right: 3px;
  bottom: 3px;
}

.tile.none {
  border: 0;
  background-color: transparent;
  cursor: auto;
}

.pname {
  margin-bottom: 20px;
}

.menu {
  position: absolute;
  top: 94.6vh;
  left: 1vh;
  text-align: left;
  background-color: rgb(94, 34, 34);
  border: none;
  padding: 1.5vh;
  padding-top: 2vh;
  width: 94vh;
  height: 8vh;
  border-radius: 5px;
}

.btn {
  width: 7vh;
  border: inset;
  background-color: rgb(143, 50, 50);
  border-color: rgb(211, 77, 77);
  border-width: 3px;
  margin: 1px;
  padding: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3vw;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}


.skip {
  color: #d3cfcf;

  border-radius: 5px;
}

.skip:hover {
  background: #a74c4c;
  color: rgb(94, 9, 9);
}

.TW {
  background-color: rgb(255, 166, 0);
}
.DW {
  background-color: rgb(197, 32, 32);
}
.DL {
  background-color: rgb(25, 156, 231);
}
.TL {
  background-color: rgb(109, 206, 70);
}
.CS {
  background-color: rgb(195, 0, 255);
}

.is-dragging {
  z-index: 2;
  margin-left: -4vh;
  margin-top: -4vh;
}

.board > div.hover {
  opacity: 0.5;
  background-color: rgb(119, 104, 82);
}

.stand.hover {
  opacity: 0.5;
}

.dragging {
  z-index: 2 !important;
  margin-left: -4vh !important;
  margin-top: -4vh !important;
}

.game-over {
  z-index: 5;
  display: none;
  color: rgb(255, 166, 0);
  border: solid black;
  position: absolute;
  border-radius: 20px;
  top: 40vh;
  left: 15vw;
  font-family: 'Allerta Stencil';
  text-align: center;
  width: 70vw;
  font-size: 10vw;
  background-color: rgb(44, 44, 44);
}